@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
html {
  background: #000000;
  font-family: 'Press Start 2P', cursive;
}
body{
  margin: auto 0 auto 0;
}
p1{
    cursor: pointer;
}
h1{
  text-align: center;
  color: #ffffff
}
ul{
  display: none;
}
#WhatILove{
  position: relative;
  top: 10px;
  left:100px;
  width:500px;
  margin:0 auto 0 auto;
}
#WhereIAm{
  position: relative;
  top: 50px;
  left:100px;
  width:500px;
  margin:0 auto 0 auto;
}
#WhatILove p1,ul{
  color: #ffffff
}
#WhereIAm p1,ul,a{
  color: #ffffff
}
